main .slides{
  height: auto;
  width: 70%;
  background-color:white;
}
main .slides .doc{
  width: 80%;
  height: 100px;
  margin: auto;
  padding-top: 20px
}
main .slides .image{
  width: 70%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
}
main .slides .desc{
  width: 70%;
  height: auto;
  margin: auto;
}
main .slides .image img{
  width: 350px;
  height: 250px
}
main .slides .desc p,li{
  align-items: center;
}
