main .holder{
  background-color:white;
  height: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .holder .image{
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
}
main .holder .image img{
  width: 250px;
  height: 150px
}
main .holder .desc{
  width: 70%;
  height: auto
}
main .holder .desc p,li{
  align-items: center;
}
