main{
  height: auto;
}
main #bgVid {
  position: fixed;
  min-width: 100%;
  min-height: 100%
}
.content form {
  margin-top: 50%;
  font-family: arial;
  position: relative;
    bottom: 0;
    background: white;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
@-webkit-keyframes blink{
  0%{background-color: black}
  50%{}
}
